{% extends 'base.html' %}

{% block title %}
{{ tag.name }}
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
    <div class="row">
        <h3>Articles tagged < {{ tag.name }} > :</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for article in tag.articles %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Author : {{ article.author.user.first_name }} {{ article.author.user.last_name }}</h6>
                        <p class="card-text">{{ article.text | truncate(50) }}</p>
                        <a href="{{ url_for('articles.article_detail', article_id=article.id) }}"
                           class="card-link">Read</a>
                    </div>
                    <!-- <div class="card-footer">
                        <small class="text-muted">Created at: {{ article.created_at.strftime('%d-%m-%Y %H:%M:%S') }}</small>
                    </div> -->
                </div>
            </div>
        {% endfor %}
    </div>



    <div>
        <a href="{{ url_for('tags.tags_list') }}">Back to tags list</a>
    </div>
{% endif %}
{% endblock %}