{% extends 'base.html' %}

{% block title %}
    Tags list
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
    <div class="row">
        <h1>Tags:</h1>
    </div>
    <div>
        {% for tag in tags %}
            <div class="col">
                <li>
                    <a href="{{ url_for('tags.tag_detail', tag_id=tag.id) }}"
                        class="card-link">{{ tag.name }}
                    </a>
                </li>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

